@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

body, html {
  margin: 0 !important;
}

body {
  font-family: 'Commissioner', sans-serif;
  font-size: 16px; /* this can also be p size */ 
  color: hsl(0, 0%, 48%); 
  background-color: hsl(176, 50%, 94%); 
}

header {
  background-image: url("../images/image-hero-desktop.jpg");
  background-position: center;
  background-size: cover;
  height: 550px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.container {
  position: absolute;
  margin-top: 400px;
  z-index: 1;
}

section {
  background-color: white;
  width: 43.5%;
  margin: 0 auto;
  border: 2px solid hsla(176, 50%, 47%, 0.1); 
  border-radius: 12px;
  margin-bottom: 30px;
  padding: 60px;
}


/* NAV */ 

ul {
  list-style-type: none; 
  margin: 63px 210px 0 211px;
  padding: 0;
  font-size: 18px;
}

li {
  display: inline; 
  margin: 0 19px;
}

li img {
  width: 165px;
}

.nav-right {
  float: right;
}


/* SECTION ONE */ 

.section-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.logo-m {
  position: absolute;
  margin-top: -98px;
  z-index: 2;
  width: 73px;
}


/* SECTION TWO */

.section-two-text {
  display: flex;
}

.text-block {
  margin-right: 53px;
  padding-right: 65px;
  padding-left: 60px; 
  border-left: 1px solid hsl(176, 50%, 47%);
}

.text-block:first-child {
  padding-left: 0;
  padding-right: 0;
  border-left: 0;
}

.meter { 
  margin-top: 50px; 
  height: 16px;  
  background-color: hsl(176, 50%, 93%); 
  border-radius: 25px;
  width: 100%; 
}

.inner-meter {
  height: 16px;  
  background: hsl(176, 50%, 47%); 
  border-radius: 25px;
  width: 78%; 
}


/* SECTION 3 */ 

.section-three {
  margin-bottom: 160px; 
}

article {
  border: 1px solid hsl(176, 50%, 47%); 
  border-radius: 10px; 
  padding: 40px 40px 33px 40px;
  margin-top: 32px; 
}

article:first-child {
  margin-top: 0;
}

.row {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
}

.row-two {
  margin: 25px 0; 
}


/* BUTTONS */ 

.button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 35px;
}

button {
  width: 215px; /* it was 250px */ 
  height: 56px;
  border-radius: 40px;
  border: 0px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items:center;
  justify-content: center; 
  padding: 0;
  background-color: hsl(176, 50%, 47%); 
  color: hsl(176, 50%, 95%); 

}

.button-one:active, .section-three button:active {
  background-color: hsl(176, 72%, 28%); 
  cursor: pointer; 
}

button {
  cursor: pointer; 
}

button p {
  margin: 0 auto; /* was 0 35px */ 
  font-size: 18px; 
}

.button-bookmark {
  justify-content: flex-start;
  background-color: hsl(176, 50%, 90%); 
  color: hsl(176, 72%, 28%); 
  width: 192px; /* when clicked + txt changed to 'bookmarked', change width to 215px */ 
}

.bookmark-svg circle:active {
  fill: hsl(176, 72%, 28%); 
}

.bookmark-svg path {
  fill: hsl(176, 50%, 47%); 
}

.section-three button {
  /*height: 65px; */
  width: 200px; /* it was 210 */ 
  font-weight: 400;
}


/* TEXT - GENERIC */ 

h1, h2, span {
  color: hsl(0, 0%, 0%); 
}

span {
  font-weight: 700;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 22px;
  margin-top: 10px;
}

h2 {
  font-weight: 600; 
  margin-top: 0;
  margin-bottom: 45px;
  font-size: 26px; 
}

p {
  font-size: 20px;
  margin-top: 0;
}


/* SECTION 2 - TEXT */ 

.text-block span { 
  display: block;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
  color: black; 
}

.text-block p {  
  margin-bottom: 0;
  color: hsl(176, 72%, 28%); 
}


/* SECTION 3 - TEXT */ 

.section-three p { 
  margin-bottom: 35px;
  line-height: 2;
}

.section-three .p-two { 
  margin-bottom: 50px; 
}

.row h1 { 
  font-size: 24px; 
  margin: 0;
}

.row p { 
  margin: 0;
}

.row span { 
  font-size: 40px; 
}

.row-three p, span { 
  display: flex;
  align-items: center; 
}

.row-three span { 
  margin-right: 10px; 
}



/* for the footer that comes with it, either it wasn't included in this project or i've deleted it, might need to re-add it if i did delete it" */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }





/* 

## Colors 
### Primary

- Moderate cyan: hsl(176, 50%, 47%)
- Dark cyan: hsl(176, 72%, 28%)



List of images: 
 icon-bookmark - icon for bookmark button  ***USED 
 image-hero-desktop.jpg - FOR DESKTOP HEADER  ***USED 
 logo - TOP LEFT WORD CROWDFUND  ***USED
 logo-mastercraft - THE MAIN MIDDLE OF SECTION 1 TOP BORDER. 


 icon-check
 icon-close-menu
 icon-close-modal
 icon-hamburger
 image-hero-mobile.jpg - FOR MOBILE HEADER 

*/ 

/* MODAL */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal-content {
  background-color: white;
  margin: 13% auto; 
  width: 80%; 
  max-width: 950px; 
  border: 1px solid #888; /* maybe change this */ 
  border-radius: 12px; 
  padding: 50px; 

}

.close {
  color: #aaa; /* change this */ 
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: black; /* maybe change this*/ 
  cursor: pointer;
}
